/*CSS Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Amatic SC', cursive;
	font-size: 1.8em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* NAVIGATION BAR */

.topnav .icon {
	display: none;
}


.topnav ul {
	display: flex;
	align-items: center;
	opacity: 0.6;
	min-height: 2.7rem;
	background-color: black;
	position: fixed;
	width: 100%;
}

.topnav ul:hover {
	background-color: black;
	opacity: 1;
}

.topnav ul a {
	color: #D1CECD;
	text-decoration: none;
	padding: 0.5em;
	font-size: 0.9em;
}

.topnav ul a:hover{
	color: black;
	background-color: #CCC;
}


/*HEADER*/

header {
	background-image: url(img/pizza.jpg);
	height: 39rem;
	background-repeat: no-repeat;
    background-position: center; 
}

#Main-title{
	position: relative;
	top: 1.2em;
	text-align: center;
	font-size: 3.4em;
	font-weight: 550;
	letter-spacing: 3px;
	line-height: 1.4;
	color: white;
}

#SeeMenu-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

 #SeeMenu {
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	padding: 0.3em;
	margin: 3.1em 0 0 0;
	font-weight: 550;
	background-color: black;
	border: none;
	color: white;
}


#SeeMenu:hover {
	cursor: pointer;
	background-color: #CCC;
	color: black;	
}


#Openfrom {
	margin-top: 4.3em;
	margin-left: 0.4em;
	padding: 0.2em;
	color: white;
	background-color: black;
	width: 8em;
	font-size: 0.85em;
}

/*THE MENU*/

.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: black;
	color: white;
	justify-content: center;
}

.section-header {
	display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: 550;
    font-size: 2.1em;
    color: white;
}

/*TAB BUTTONS*/

.tab-control {
	text-decoration: none;
}


.tab-list {
	display: flex;
	justify-content: center;
	flex-direction: row;
	border: 1px solid grey;
	width: 61.5%;
}

.tab-list li {
	width: 40%;
	text-align: center;
	padding: 0.6em 0 0.6em 0;
}


.tab-list li a {
	color: white;
	font-size: 1.3em;
	width: 100%;
	padding: 0.35em 3.4em 0.35em 3.4em;
}

.tab-list li:hover {
	background-color: #F44336;
}

.tab-list.active {
	background-color: #F44336;
}

.tab-list li.active {
	background-color: #F44336;
}

.tab-wrapper {
	display: flex;
	justify-content: center;
}

.tab-panel {
	display: none;
}

.tab-panel.active {
	display: flex;
	flex-direction: column;
	padding: 0.4em;
	border: 1px solid grey;
	background-color: #fff;
	color: black;
	width: 60%;
}


/*MENU ITEMS*/

.food-item {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	padding: 1em 0.4em 0 0.4em;
	margin: 0.2em;
}

.price {
	margin: 0;
	float: right;
	color: white;
	padding: 0.25em;
	background-color: #616161;
	font-weight: 400;
	border-radius: 5%;
}

.clearfix {
	clear: both;
}

.food-description {
	font-size: 1.2em;
	color: #868686;
	margin: 0.4em;
	font-weight: 400;
	padding-bottom: 1em;
	border-bottom: 1px solid #EEE;
}

.food-description:last-child {
	border-bottom: none;
}

.hot {
	padding: 0.25em;
	margin-left: 0.2em;
	color: white;
	background-color: #F44336;
	font-weight: 400;
	border-radius: 5%;
}

/* About section-->*/

.about {
	background-color: #8B5F5B;
	margin-top: 0;

}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-description {
	 justify-content: space-around;
	 display: flex;
	 width: 61%;
	 line-height: 1.3em;
	 font-weight: 470;
	 color: white;
}

#thechef {
	width: 10%;
	height: 10%;
	border-radius:50%;
	position: relative;
	top: -2em;
}

#resta-image {
	width: 61%;
}

.opening-wrapper {
	 display: flex;
	 margin: 0 auto;
	 flex-direction: column;
	 width: 61%;
	 padding: 1.6em;
	 color: white;
	 line-height: 2.1em;
}

.left-sided {
	float: left;
}

.right-sided {
	float: right;
	padding-right: 7em;
}

#ophours {
	font-size: 1.3em;
	font-weight: 610;
}

#map {
        height: 14em;
        filter: grayscale(100%);
      }

/*CONTACT*/

.contact {
	background-color: #6C7A81;
	padding-bottom: 3.5em;
	color: white;
}

.contact-wrapper {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	width: 61%;
}

.contact-wrapper input {
	font-family: 'Amatic SC', cursive;
}

.contact-wrapper textarea {
	font-family: 'Amatic SC', cursive;
	text-align: start;
}

.contact-wrapper p {
	padding: 0.6em;
	font-size: 0.9em;
}

#table-reserve {
	font-weight: 500;
	font-size: 1.4em;
}

.input-style {
	margin: 0.6em;
	height: 3.2em;
	font-size: 0.8em;
	color: #c9c9c9;
}

#date-input {
	color: black;
}

#message-button {
	height: 2.3em;
	font-size: 0.9em;
	margin: 0.6em 0.6em 0 0.6em;
}

/*FOOTER*/

footer {
	height: 5em;
	background-color: black;
	color: white;
	font-size: 1.3em;
	display: flex;
	justify-content: center;	
	align-items: center;
}